html, body {
    -ms-overflow-style: scrollbar !important;
}
#masthead-container {
    -webkit-app-region: drag;
}

#search-input.ytd-searchbox-spt input {
    -webkit-app-region: no-drag !important;
}

.ytd-masthead {
    padding-top: 4px !important;
}

ytd-searchbox.ytd-masthead {
    margin: 0 0 0 0 !important;
}